# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
__MACOSX/

# Jupyter
.ipynb_checkpoints/

# Secrets
.env
secrets.toml

# Large datasets (use sample/ instead)
project/dataset/
project/healthy_liver/
